body{
    display: flex;
    background: hsl(212, 45%, 89%);
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.container{
    flex-direction: column;
    background: #fff;
    font-family: 'outfit', sans-serif;
    text-align: center;
    width: 300px;
    height: 480px;
    border-radius: 1.5rem;
}

.img-fluid{
    height: 270px;
    width: 280px; 
    margin-top: 0.6rem;
    border-radius: 1rem;
}

h2{
    font-family: 'outfit', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

p{
    font-family: 'outfit', sans-serif;
    font-weight: 400;
    padding-bottom: 1rem;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

@media (max-width: 480px) {
    boby{
        overflow: none;
    }
}
